/* 
    Created on : July 5, 2015, 7:16:49 PM
    Author : BlueWindLab
    Title : Stylesheet Ajaxified FAQ Search 
    From: Version 1.0.0
*/

form.afs-live-search-form {
  margin-bottom: 0px;
  position: relative;
}

form.afs-live-search-form #s {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid lightgray;
  height: 48px;
  text-indent: 5px;
}

.afs-dn {
  display: none;
}

span.afs-btn-clear {
  position: absolute;
  top: 3px;
  right: 10px !important;
  width: 30px;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #ffffff;
  cursor: pointer;
}

span.afs-btn-clear:after {
  position: absolute;
  content: "X";
  display: inline-block;
  top: 4px;
  left: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #6a6a6a;
  font-family: verdana;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

span.afs-btn-clear:hover:after {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

span.afs-btn-clear:hover {
  color: #2c2c2c;
}

.suggestionsBox {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  padding: 0px;
  background-color: #2c2c2c;
  /*color: #fff;*/
  z-index: 1000;
}

.nothing-found {
  padding: 5px;
  color: #ffffff;
}

input.afs_search_icon {
  background-origin: content-box;
  background: url(../images/search.png) no-repeat #ffffff;
  background-position: top 10px right 10px;
  background-position-x: 99%;
  background-position-y: 50%;
  border: 1px solid #cccccc;
}

input.afs_loading {
  background-origin: content-box;
  background: url(../images/loader.gif) no-repeat #ffffff;
  background-position: top 10px right 10px;
  background-position-x: 99%;
  background-position-y: 50%;
}

/*------------------------------  Suggestion Box ---------------------------------*/

div.suggestionList ul {
  margin: 0px;
  padding: 0px;
}
div.suggestionList:before {
  content: "";
  display: inline-block;
  height: 0;
  margin-right: 0.5em;
  width: 0;
  left: 10px;
  margin-top: -0.5em;
  position: absolute;
  top: 1px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #2c2c2c;
  z-index: 999;
}
div.suggestionList ul li {
  list-style: none;
  margin: 0px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  color: #ffffff;
}

div.suggestionList ul li a {
  text-decoration: none;
  color: blue;
  color: #ffffff;
  padding: 5px;
  display: block;
}

div.suggestionList ul li:last-child {
  border-bottom: 0px;
}

div.suggestionList ul li a:hover,
div.suggestionList ul li a:visited {
  color: #f3f3f3;
}

/*-------------------------Sticky KB Settings --------------------------------------*/

.afs-sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  z-index: 1000;
  right: -76px;
  top: 250px;
  width: 150px;
}

.afs-sticky li {
  list-style-type: none;
  background-color: #2c2c2c;
  color: #efefef;
  line-height: 32px;
  padding: 0 0 0 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 4px 0 0px 4px;
  border-radius: 4px 0 0px 4px;
}

.afs-sticky li a {
  color: #ffffff;
  font-weight: bold;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  text-decoration: none;
  display: block;
  padding-left: 9px;
}

.afs-sticky li a:hover {
  color: #eeeeee;
}

.afs-sticky li span {
  opacity: 0;
  font-size: 12px;
  padding-left: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.afs-sticky li:hover {
  margin-left: -115px;
}

.afs-sticky li:hover span {
  opacity: 1;
}

/*------------------------------  ---------------------------------*/

div#asf_animated_modal section {
  line-height: 1.5em;
}

div.modal-content {
  margin-top: 12px;
  padding: 12px;
}

div#btn-close-modal {
  width: 24px;
  height: 24px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: #2c2c2c;
  margin: 5px auto 0 auto;
  font-size: 14px;
  background: #ffffff;
  border-radius: 100%;
  padding: 5px;
}

div.afs-nothing-found {
  margin-top: 12px;
  padding: 12px 6px;
  background: #ffffcc;
  color: #2c2c2c;
}

div.afs-baf-ctrl-btn {
  margin-bottom: 12px !important;
}
